.leagueTable {
  width: 40vw;
  height: 60vh;
  display: inline-block;
  margin-right: 2%;
  padding: 1%;
  overflow: auto;
  background-color: #f6f6f6;
  -webkit-box-shadow: 10px 10px 23px -5px rgba(199, 199, 199, 1);
  -moz-box-shadow: 10px 10px 23px -5px rgba(199, 199, 199, 1);
  box-shadow: 10px 10px 23px -5px rgba(199, 199, 199, 1);
}
.table {
  display: block;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}
