.menu {
  height: 100vh;
  background-color: #360d3a;
  opacity: 0.7;
  color: white;
  box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.5);
  width: 20%;
  right: -100%;
  position: fixed;
  z-index: 200;
  animation: menu-open 0.75s forwards;
  text-align: center;
}
.menu ul {
  list-style: none;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu a {
  text-decoration: none;
  color: whitesmoke;
}
.menu a:hover {
  color: aqua;
}
.closeBtn {
  position: absolute;
  left: 0;
  margin: 2%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1% 2% 1% 2%;
  font-size: 25px;
}

.menu img {
  max-width: 50%;
  height: auto;
}

@keyframes menu-open {
  100% {
    right: 0%;
  }
}
